{% extends 'layout.html.twig' %}
{% block content %}
    Nội dung thay đổi cho trang web
{% endblock %}

{% block menu %}
    <p class="important">
        Nội dung thay đổi cho thanh menu
    </p>
{% endblock %}