{% extends 'layout/index.html.twig' %}
{% block content %}
<div class="contact-content">
	 <div class="container">
		     <div class="contact-info">
			 <h2>ĐÓNG GÓP Ý KIẾN</h2>
			 {% if success is defined %}
			 <div class="alert alert-success">
			 	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			 	{{ success }}
			 </div>
			{% endif %}
			 </div>
			 <div class="contact-details">				 
			 <form method="POST">
				 <input type="text" name="name" placeholder="Name" required value="{% if app.session.has('logged') %} {{ app.session.get('logged')['fullname'] }} {% endif %}" />
				 <input type="text" name="email" placeholder="Email" required value="{% if app.session.has('logged') %} {{ app.session.get('logged')['email'] }} {% endif %}"/>
				 <input type="text" name="phone" placeholder="Phone" required value="{% if app.session.has('logged') %} {{ app.session.get('logged')['phone'] }} {% endif %}"/>
				 <input type="text" name="city" placeholder="City Name" required value="" />
				 <textarea name="message" placeholder="Message"></textarea>
				 <input type="submit" value="SEND"/>
			 </form>
		  </div>
		  <div class="contact-details">
			  <div class="col-md-6 contact-map">
				 <h4>FIND ME HERE</h4>
				 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3295.949516676095!2d106.68809559179245!3d10.767845499458614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f180037b237%3A0x254630ca0c3dce93!2sPhuong+Nam+Design!5e0!3m2!1svi!2s!4v1440422298380" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			  </div>
			  <div class="col-md-6 company_address">		 
					<h4>GET IN TOUCH</h4>
					<p>500 Lorem Ipsum Dolor Sit,</p>
					<p>22-56-2-9 Sit Amet, Lorem,</p>
					<p>USA</p>
					<p>Phone:(00) 222 666 444</p>
					<p>Fax: (000) 123 456 78 0</p>
					<p>Email: <a href="mailto:info@example.com">info@mycompany.com</a></p>
					<p>Follow on: <a href="#">Facebook</a>, <a href="#">Twitter</a></p>
			 </div>
			  <div class="clearfix"></div>
	     </div>		 


			 </div>
	 </div>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}